@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(0.9816 0.0017 247.8577);
  --foreground: oklch(0.1469 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.6736 0.1331 259.2026);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9683 0 0);
  --secondary-foreground: var(--foreground);
  --muted: oklch(0.9683 0 0);
  --muted-foreground: oklch(0.5544 0 0);
  --accent: oklch(0.9683 0 0);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.6498 0.1805 9.8598);
  --destructive-foreground: var(--primary-foreground);
  --border: oklch(0.9288 0 0);
  --input: oklch(0.9288 0 0);
  --ring: var(--primary);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.25rem;
}

.dark {
  --background: oklch(0.1469 0 0);
  --foreground: oklch(0.9816 0.0017 247.8577);
  --card: oklch(0.1951 0 0);
  --card-foreground: var(--foreground);
  --popover: var(--card);
  --popover-foreground: var(--foreground);
  --primary: oklch(0.7107 0.1344 256.9926);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2500 0 0);
  --secondary-foreground: var(--foreground);
  --muted: oklch(0.2500 0 0);
  --muted-foreground: oklch(0.7044 0 0);
  --accent: oklch(0.2500 0 0);
  --accent-foreground: var(--foreground);
  --destructive: oklch(0.6855 0.2058 22.2162);
  --destructive-foreground: var(--primary-foreground);
  --border: oklch(0.2500 0 0);
  --input: oklch(0.2500 0 0);
  --ring: oklch(0.5544 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-sans);
  background-color: var(--background);
  color: var(--foreground);
  line-height: 1.5;
}

* {
  border-color: var(--border);
}
